<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>Manage Blog Posts</h1>
    </div>
    <div class="col-md-2">
      <a routerLink="/dashboard/manage/blog-posts/post" class="btn btn-primary">New Post</a>
    </div>
  </div>

  <div class="table-header">
    <div class="row">
      <div class="col-md-5">
        Post Title
      </div>
      <div class="col md-4">
        Post Date
      </div>
    </div>
  </div>
  <div class="item" *ngFor="let post of posts">
    <div class="row item-container">
      <div class="col-md-5 col-sm-12 vert-center">
        {{ post.title }}
      </div>
      <div class="col-md-4 vert-center date-title">
        {{ post.date | date:'short' }}
      </div>
      <div class="col-md-1 col-sm-6 pull--md-right">
        <a routerLink="/dashboard/manage/blog-posts/post/{{ post._id }}" class="btn btn-secondary">Edit</a>
      </div>
      <div class="col-md-2 col-sm-6">
        <button (click)="deletePost(post._id)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
