<!-- Main jumbotron area -->
<div class="header">
  <div class="layer">
    <div class="callout">
      <h1><span class="text-accent">meeting you</span> where you are, <span class="text-accent">guiding you</span> where you want to go.</h1>
      <button class="btn btn-primary">Find Out How</button>
    </div>
  </div>
</div>

<div class="container main-content">
  <div class="row">
    <div class="col-lg-12">
      <h2>What We Do</h2>
      <div class="underline-light"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <a routerLink="/habilitative-support">
        <img src="./assets/images/chart.png" alt="">
        <h3 class="text-center">Habilitative Support &amp; Intervention</h3>
      </a>
    </div>
    <div class="col-lg-4">
      <a routerLink="/habilitative-support">
        <img src="./assets/images/toolbox.png" alt="">
        <h3>Building Community</h3>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="#">
        <img src="./assets/images/truck.png" alt="">
        <h3>Outdoor Adventure Program</h3>
      </a>
    </div>
  </div>
  <div class="whitespace"></div>
  <div class="row">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat nibh eu porttitor tincidunt. Mauris placerat
        imperdiet felis, sit amet feugiat nibh pulvinar non. Donec urna urna, venenatis vitae eros sit amet, accumsan elementum
        enim. Praesent sodales ut odio sed ultrices. Fusce eleifend metus leo, nec lobortis tortor tempor id. Nunc pellentesque
        nunc ut nisl tempus malesuada. Nunc scelerisque arcu sit amet mauris eleifend viverra. Donec eros felis, finibus
        vel elit eget, vulputate tempor quam. Donec nec convallis diam, eget tincidunt nunc. Aliquam vitae placerat tellus.
        Sed ultrices, tortor a semper sollicitudin, nisl erat ultrices felis, in lacinia dolor tellus nec nunc. Nunc nisi
        nulla, venenatis id bibendum nec, varius et est. Sed gravida rutrum bibendum.</p>
      <p>Sed at odio fermentum, ornare libero quis, maximus dui. Vestibulum sit amet justo imperdiet, facilisis nulla nec, vulputate
        neque. Duis ornare neque metus, sit amet placerat neque lobortis eget. Vestibulum fringilla, orci ut iaculis gravida,
        turpis erat ultricies diam, et tristique justo elit at mauris. In dictum, leo eu consequat tincidunt, erat ex molestie
        mauris, ac tincidunt quam leo vitae massa. Mauris semper vehicula aliquam. Aenean euismod eros id viverra tincidunt.
        Pellentesque luctus pharetra urna, eget ultrices purus tincidunt sit amet. Morbi tempus aliquam congue. Aliquam posuere
        turpis at sapien tempus accumsan. In lorem erat, condimentum sed nisi malesuada, tempus efficitur orci.</p>
  </div>
</div>

<div class="blog-section">
  <div class="layer">
    <div class="row">
      <div class="col-lg-4" *ngFor="let post of posts">
        <div class="blog-section-post">
          <h3>{{ post.title }}</h3>
          <p>{{ post.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
