<div class="container">
  <img src="assets/images/children.jpg" class="img-fluid rounded mx-auto d-block" alt="Children">
  <h1>Habilitative Support &amp; Intervention</h1>
  <p>GPS Health &amp; Wellness is committed to helping your child reach their full potential. We provide community-focused Habilitative
    Support and Intervention to eligible youth that focuses on assisting them in utilizing their strengths and developing
    necessary skills that lead to independence, including behavioral, relational, communication, and motor skills.</p>
  <p>The fundamental goals of developmental and behavioral therapy are threefold:</p>
  <ul>
    <li>Increase skills related to activities of daily living</li>
    <li>Promote integration in the community</li>
    <li>Generalize skills to natural environments</li>
  </ul>
  <br>
  <img src="assets/images/service.jpg" class="img-fluid float-left" alt="Service">
  <h2>Building Community</h2>
  <p>GPS believes that therapy shouldn’t merely take place in the community but that it should also focus on
    <i>building</i> community. While most developmental and behavioral therapy is individualistic in its approach, we encourage
    clients to frequently interact with others in a variety of positive and safe situations, including service and volunteering
    opportunities. It’s our philosophy that when people shift their focus to helping others, they more easily notice positive
    aspects of their own lives, ultimately helping find emotive strength and internal motivation to overcome personal challenges.</p>
  <p>We also believe that everyone—regardless of physical or mental differences—has unique talents and abilities that can positively
    impact the lives of others. Because of this, GPS Health and Wellness will work directly with your child to identify their
    personal interests and character traits, give them opportunities to develop their talents, and help them realize the
    ways that they can use their gifts to build community with those around them.</p>

</div>