<div class="logo-header">
  <h1>GPS<span class="text-accent-light">Health &amp; Wellness</span></h1>
  <div class="logged-in-user">
    Welcome, Kemish W. Hendershot | <a routerLink="/logout">Logout</a>
  </div>
</div>

<div id="sidebar-wrapper" class="sidebar">  
  <ul class="nav-sidebar">
    <li class="nav-item">
      <a routerLink="/dashboard">Home</a>
    </li>
    <li class="nav-header">Manage
      <ul>
        <li class="nav-item">
          <a routerLink="/dashboard/manage/blog-posts">Blog Posts</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/manage/users">Users</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/manage/job-postings">Job Postings</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/manage/team-members">Team Members</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/manage/company-news">Company News</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/manage/manage-training-videos">Training Videos</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/manage/manage-training-docs">Training Docs</a>
        </li>
      </ul>
    </li>
    <li class="nav-header">Training
      <ul>
        <li><a routerLink="/dashboard/training/videos">Videos</a></li>
        <li><a routerLink="/dashboard/training/docs">Documentation</a></li>
      </ul>
    </li>
  </ul>
</div>