<div class="container">
  <h1>Our Team</h1>
  <div class="row text-center">
    <div class="col-lg-6">
      <div class="team-info">
        <img src="./assets/images/150x150.jpg" alt="Daniel Gibson">
        <h3>Daniel Gibson, PsyD</h3>
        <div class="job-title">Director of Clinical Operations / Founder</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, maiores explicabo voluptas consectetur cupiditate quam
          velit, est iure voluptatum tenetur libero reprehenderit earum eligendi, vel ad officiis beatae rem. Adipisci! Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Quo, maiores explicabo voluptas consectetur cupiditate quam
          velit, est iure voluptatum tenetur libero reprehenderit earum eligendi, vel ad officiis beatae rem. Adipisci!</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="team-info">
        <img src="./assets/images/150x150.jpg" alt="Stephen Gibson">
        <h3>Stephen Gibson</h3>
        <div class="job-title">Director of Care, Education, and Development</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, maiores explicabo voluptas consectetur cupiditate quam
          velit, est iure voluptatum tenetur libero reprehenderit earum eligendi, vel ad officiis beatae rem. Adipisci! Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Quo, maiores explicabo voluptas consectetur cupiditate quam
          velit, est iure voluptatum tenetur libero reprehenderit earum eligendi, vel ad officiis beatae rem. Adipisci!</p>

      </div>
    </div>
    <div class="col-lg-6">
      <div class="team-info">
        <img src="./assets/images/150x150.jpg" alt="Zachary Merrill">
        <h3>Zachary Merrill</h3>
        <div class="job-title">Director of Operations</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, maiores explicabo voluptas consectetur cupiditate quam
          velit, est iure voluptatum tenetur libero reprehenderit earum eligendi, vel ad officiis beatae rem. Adipisci! Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Quo, maiores explicabo voluptas consectetur cupiditate quam
          velit, est iure voluptatum tenetur libero reprehenderit earum eligendi, vel ad officiis beatae rem. Adipisci!</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="team-info">
        <img src="./assets/images/kemish_hendershot.jpg" class="rounded" alt="Kemish W. Hendershot">
        <h3>Kemish W. Hendershot</h3>
        <div class="job-title">Director of IT / Software Development</div>
          <p>Kemish is an Idaho native who attended Eagle High School and Boise State University. He followed in the footsteps of his father building custom homes throughout the Treasure Valley. However, a serious work-related accident in the summer of 2009 caused Kemish to re-assess his career direction and, due in large part to his recovery experiences, he began to pursue a career in health care. Shortly after the accident, Kemish started working for Advanced Health Care as an IT consultant and eventually became the Director of Information Technology.</p> 
          <p>During his time as Director of IT, Kemish managed information technology for fourteen locations across the Western United States, created a proprietary electronic health record application, developed public facing websites, and built business specific, mission-critical applications for Advanced Health Care and other health care companies</p>
          <p>Kemish maintains the position that technology is a tool which should be used to improve processes making individuals more efficient so that, specifically in health care, providers can spend their valuable time with patients in ways that effect positive change; he believes that while technology can be an invaluable tool, it cannot and should not replace personal relationships with one-on-one interactions.</p>
          <p>As a result of his experience and because of his views on the proper use of technology, Kemish is key to the mission of GPS Health &amp; Wellness to ensure that the technological tools created and used are cutting-edge and tailored to increase employee effectiveness, improve treatment outcomes, provide training and accountability, and increase the overall satisfaction of employees and the clients/patients who are served.</p>
          <p>Kemish has a degree in Business Management, speaks Spanish, and when not working, he loves being outdoors mountain biking, kayaking, skiing, hunting, or fly fishing. However, more than anything he enjoys spending time with his wife of 18 years and their four children.</p>
      </div>
    </div>
  </div>
</div>
