<footer class="footer">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <h3>Explore</h3>
      <div class="underline"></div>
      <ul>
        <li>
          <a href="http://www.portlandanxietyclinic.com" target="_blank" alt="Portland Anxiety Clinic">Portland Anxiety Clinic, LLC</a>
        </li>
        <li>
          <a href="http://www.nwanxiety.com/" target="_blank" alt="NW Anxiety Institute">NW Anxiety Institute, LLC</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-12">
      <h3>Contact Us</h3>
      <div class="underline"></div>
      <p>
        <span class="text-20">Phone:</span> 555.555.5555</p>
      <p>
        <span class="text-20">Email:</span> info@gpsidaho.com</p>
      <div class="social-icons">
        <img src="./assets/images/facebook_icon.png" alt="Facebook">
        <img src="./assets/images/twitter_icon.png" alt="twitter">
        <img src="./assets/images/youtube_icon.png" alt="YouTube">
        <img src="./assets/images/pinterest_icon.png" alt="Pinterest">
        <img src="./assets/images/vimeo_icon.png" alt="Vimeo">
      </div>
    </div>
  </div>
  <div class="copyright">
    All content &copy; GPS Health &amp; Wellness 2017. All rights reserved.
  </div>
</footer>