.posts {
    margin-bottom: 75px;

    p {
        margin: 0 0 25px 0;
        padding: 0;
        color: #5D5C61;
        text-align: justify;
    }

    img {
        width: 400px;
        float: left;
        margin-left: 0;
    }
}

.date-title {
    padding: 20px 0 0 0;
    text-align: right;
}

.date {
    color: #B1A296;
}

.post-title {
    color: #7395AE;
    text-transform: uppercase;
    font-size: 1.8em;
    line-height: 2em;
}