/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import 'styles/_vars';
@import 'styles/forms';


img {
  margin: 5px 15px;
}

.text-18 { font-size: 18px; }
.text-20 { font-size: 20px; }
.text-22 { font-size: 22px; }
.text-24 { font-size: 24px; }
.text-26 { font-size: 26px; }

.clear { clear: both; }

.text-accent {
    color: $black;
}

.text-accent-light {
  color: $light-blue;
}

.underline {
  background-color: $black;
  height: 1px;
  width: 100%;
  margin: 5px auto 10px auto;
}

.underline-light {
  background-color: #e2e2e2;
  height: 1px;
  width: 100%;
  margin: 5px auto 10px auto;
}


.loading-icon {
  margin: 50px auto;
}

.btn {
  margin: 2px;
}