<div class="container">
  <div class="row">
      <h1>My Dashboard</h1>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <a routerLink="/dashboard/manage/blog-posts/post" class="btn btn-secondary">New Blog Post</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <a routerLink="/dashboard/manage/job-postings/new-job-opening" class="btn btn-secondary">New Job Opening</a>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6">
      <button class="btn btn-secondary">New Company News</button>
    </div>

  </div>
  
</div>
